@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-libre-baskerville);
  --font-sans-3: var(--font-source-sans-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-libre-baskerville), serif;
  font-family: var(--font-source-sans-3), sans-serif; */
}

/* @import "tailwindcss/preflight";
@tailwind utilities; */
