@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-baltic-blue-50: #ecf2f9;
  --color-baltic-blue-100: #d8e4f3;
  --color-baltic-blue-200: #b2c9e6;
  --color-baltic-blue-300: #8bafda;
  --color-baltic-blue-400: #6594cd;
  --color-baltic-blue-500: #3e79c1;
  --color-baltic-blue-600: #32619a;
  --color-baltic-blue-700: #254974;
  --color-baltic-blue-800: #19304d;
  --color-baltic-blue-900: #0c1827;
  --color-baltic-blue-950: #09111b;

  --color-ocean-mist-50: #edf7f6;
  --color-ocean-mist-100: #dcefec;
  --color-ocean-mist-200: #b8e0d9;
  --color-ocean-mist-300: #95d0c6;
  --color-ocean-mist-400: #71c1b4;
  --color-ocean-mist-500: #4eb1a1;
  --color-ocean-mist-600: #3e8e81;
  --color-ocean-mist-700: #2f6a60;
  --color-ocean-mist-800: #1f4740;
  --color-ocean-mist-900: #102320;
  --color-ocean-mist-950: #0b1916;

  --color-sunflower-gold-50: #fff6e6;
  --color-sunflower-gold-100: #feeccd;
  --color-sunflower-gold-200: #fdd99b;
  --color-sunflower-gold-300: #fdc668;
  --color-sunflower-gold-400: #fcb336;
  --color-sunflower-gold-500: #fba004;
  --color-sunflower-gold-600: #c98003;
  --color-sunflower-gold-700: #976002;
  --color-sunflower-gold-800: #644002;
  --color-sunflower-gold-900: #322001;
  --color-sunflower-gold-950: #231601;

  --color-toasted-almond-50: #fcf0e8;
  --color-toasted-almond-100: #fae1d1;
  --color-toasted-almond-200: #f4c4a4;
  --color-toasted-almond-300: #efa676;
  --color-toasted-almond-400: #ea8948;
  --color-toasted-almond-500: #e46b1b;
  --color-toasted-almond-600: #b75615;
  --color-toasted-almond-700: #894010;
  --color-toasted-almond-800: #5b2b0b;
  --color-toasted-almond-900: #2e1505;
  --color-toasted-almond-950: #200f04;

  --color-burnt-peach-50: #fbecea;
  --color-burnt-peach-100: #f7dad4;
  --color-burnt-peach-200: #eeb4aa;
  --color-burnt-peach-300: #e68f7f;
  --color-burnt-peach-400: #dd6955;
  --color-burnt-peach-500: #d5442a;
  --color-burnt-peach-600: #aa3622;
  --color-burnt-peach-700: #802919;
  --color-burnt-peach-800: #551b11;
  --color-burnt-peach-900: #2b0e08;
  --color-burnt-peach-950: #1e0906;
}

@theme inline {
  --color-baltic-blue-50: #ecf2f9;
  --color-baltic-blue-100: #d8e4f3;
  --color-baltic-blue-200: #b2c9e6;
  --color-baltic-blue-300: #8bafda;
  --color-baltic-blue-400: #6594cd;
  --color-baltic-blue-500: #3e79c1;
  --color-baltic-blue-600: #32619a;
  --color-baltic-blue-700: #254974;
  --color-baltic-blue-800: #19304d;
  --color-baltic-blue-900: #0c1827;
  --color-baltic-blue-950: #09111b;

  --color-ocean-mist-50: #edf7f6;
  --color-ocean-mist-100: #dcefec;
  --color-ocean-mist-200: #b8e0d9;
  --color-ocean-mist-300: #95d0c6;
  --color-ocean-mist-400: #71c1b4;
  --color-ocean-mist-500: #4eb1a1;
  --color-ocean-mist-600: #3e8e81;
  --color-ocean-mist-700: #2f6a60;
  --color-ocean-mist-800: #1f4740;
  --color-ocean-mist-900: #102320;
  --color-ocean-mist-950: #0b1916;

  --color-sunflower-gold-50: #fff6e6;
  --color-sunflower-gold-100: #feeccd;
  --color-sunflower-gold-200: #fdd99b;
  --color-sunflower-gold-300: #fdc668;
  --color-sunflower-gold-400: #fcb336;
  --color-sunflower-gold-500: #fba004;
  --color-sunflower-gold-600: #c98003;
  --color-sunflower-gold-700: #976002;
  --color-sunflower-gold-800: #644002;
  --color-sunflower-gold-900: #322001;
  --color-sunflower-gold-950: #231601;

  --color-toasted-almond-50: #fcf0e8;
  --color-toasted-almond-100: #fae1d1;
  --color-toasted-almond-200: #f4c4a4;
  --color-toasted-almond-300: #efa676;
  --color-toasted-almond-400: #ea8948;
  --color-toasted-almond-500: #e46b1b;
  --color-toasted-almond-600: #b75615;
  --color-toasted-almond-700: #894010;
  --color-toasted-almond-800: #5b2b0b;
  --color-toasted-almond-900: #2e1505;
  --color-toasted-almond-950: #200f04;

  --color-burnt-peach-50: #fbecea;
  --color-burnt-peach-100: #f7dad4;
  --color-burnt-peach-200: #eeb4aa;
  --color-burnt-peach-300: #e68f7f;
  --color-burnt-peach-400: #dd6955;
  --color-burnt-peach-500: #d5442a;
  --color-burnt-peach-600: #aa3622;
  --color-burnt-peach-700: #802919;
  --color-burnt-peach-800: #551b11;
  --color-burnt-peach-900: #2b0e08;
  --color-burnt-peach-950: #1e0906;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-libre-baskerville);
  --font-sans-3: var(--font-source-sans-3);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(--font-libre-baskerville), serif;
  font-family: var(--font-source-sans-3), sans-serif; */
}

/* @import "tailwindcss/preflight";
@tailwind utilities; */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
